<section class="tc-stats">
  <p class="tc-stats-description">
    Here you can see some statistics about your tasks.
  </p>
  <div class="tc-stats-charts-list">
    <div class="tc-stats-chart-container">
      <p class="tc-stats-chart-label">Tasks by status</p>
      <echarts [options]="statusChart" class="tc-stats-chart"></echarts>
    </div>
    <div class="tc-stats-chart-container">
      <p class="tc-stats-chart-label">Done by priority</p>
      <echarts [options]="priorityChart" class="tc-stats-chart"></echarts>
    </div>
  </div>
</section>
