@import 'src/_colors.scss';

.tc-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 2rem 2rem 10rem 2rem;

    .tc-stats-charts-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        flex-wrap: wrap;

    }

    .tc-stats-chart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        border: 1px solid $primary-dark;
        border-radius: 0.5rem;


        .tc-stats-chart {
            min-height: 20rem;
            min-width: 20rem;
        }
    }

}
