<div class="tc-assistant-page">
  <div class="tc-assistant-chat-window">
    <div class="messages">
      <div
        class="message"
        *ngFor="let message of messages | async; trackBy: trackByMessage"
        [ngClass]="{ 'user': message.role === 'user' }"
      >
        {{ message.content }}
      </div>
    </div>
    <form class="tc-assistant-form" (ngSubmit)="onInput()">
      <input
        type="text"
        [(ngModel)]="inputValue"
        name="inputField"
        placeholder="Message..."
      />
      <button type="submit">
        <img src="../../../assets/icons/send-button.svg" />
      </button>
    </form>
  </div>
</div>
