@import 'src/_colors.scss';

.tc-assistant-page {
  width: 100%;
  height: calc(100vh - 5rem);
  position: relative;
  overflow-x: visible;

  .tc-assistant-chat-window {
    padding: 0 1rem;
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: visible;
  }

  .tc-assistant-form {
    position: fixed;
    bottom: 5rem;
    left: 0.5rem;
    right: 0.5rem;
    display: flex;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: $light-gray 1px solid;
    background-color: $primary-light;

    input {
      height: 3rem;
      padding: 0.5rem;
      border: none;
      flex-grow: 1;
      background: transparent;
    }

    input::placeholder {
      color: $dark-gray;
    }

    input:active,
    input:focus,
    input:focus-visible {
      outline-offset: 0px;
      outline: none;
    }

    button {
      background: transparent;
      padding: 0 1rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 768px) {
  .tc-assistant-page {
    height: 100%;
    padding: 0.5rem 5rem;

    .tc-assistant-form {
      bottom: 1rem;
      left: 5rem;
      right: 5rem;
    }
  }
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: visible;
}

.message {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  background-color: $message-gray;
  text-wrap: wrap;
  font-weight: 400;
  max-width: 80%;
}

.tc-message-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.user {
  background-color: $primary-dark;
  color: $primary-light;
}

.right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.tc-card-wrap {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: fit-content;
}

.task-message {
  padding-left: 0.5rem;
  padding-bottom: 0.8rem;
}