<div class="tc-assistant-page">
  <div class="tc-assistant-banner" *tcShowAssistant="false">
    <div class="tc-assistant-banner-text">
      This is not available to you now. You can request access by clicking the
      button below.
    </div>
    <button
      *tcAssistantRequested="false"
      class="tc-assistant-banner-bt"
      (click)="onRequestAccess()"
    >
      Request Access
    </button>
    <div *tcAssistantRequested="true" class="tc-assistant-banner-text">
      Your request has been sent. You will be notified when you get access.
    </div>
  </div>

  <div class="tc-assistant-chat-window" *tcShowAssistant="true">
    <div
      #messagesContainer
      class="messages"
      *ngIf="messages | async as messagesArray"
    >
      <tc-fast-prompt
        *ngIf="!messagesArray.length"
        (fastPromptEvent)="onFastButton($event)"
        (typeYourselfEvent)="onFastType()"
      >
      </tc-fast-prompt>
      <div
        class="tc-message-wrap"
        *ngFor="let message of messagesArray; trackBy: trackByMessage"
        [ngClass]="{ 'right': message.role === 'user' }"
      >
        <div class="message" [ngClass]="{ 'user': message.role === 'user' }">
          {{ parseMessage(message).text }}
        </div>
        <div *ngIf="parseMessage(message).tasksPresent" class="tc-card-wrap">
          <div
            class="task-message"
            *ngFor="let id of parseMessage(message).tasks; trackBy: trackById"
          >
            <tc-task-card-for-chat [taskId]="id"></tc-task-card-for-chat>
          </div>
        </div>
      </div>
    </div>
    <form class="tc-assistant-form" (ngSubmit)="onInput()">
      <input
        #inputMessage
        type="text"
        [(ngModel)]="inputValue"
        name="inputField"
        placeholder="Message..."
      />
      <button type="submit">
        <img src="../../../assets/icons/send-button.svg" />
      </button>
    </form>
  </div>
</div>
