<div class="tc-assistant-page">
  <div class="tc-assistant-chat-window">
    <div #messagesContainer class="messages" *ngIf="messages | async as messagesArray">
      <tc-fast-prompt
        *ngIf="!messagesArray.length"
        (fastPromptEvent)="onFastButton($event)"
        (typeYourselfEvent)="onFastType()"
      >
      </tc-fast-prompt>
      <!-- <div class="messages-inner"> -->
        <div
          class="tc-message-wrap"
          *ngFor="let message of messagesArray; trackBy: trackByMessage"
          [ngClass]="{ 'right': message.role === 'user' }"
        >
          <div class="message" [ngClass]="{ 'user': message.role === 'user' }">
            {{ parseMessage(message).text }}
          </div>
          <div *ngIf="parseMessage(message).tasksPresent" class="tc-card-wrap">
            <div class="task-message" *ngFor="let id of parseMessage(message).tasks">
              <tc-task-card [taskId]="id"></tc-task-card>
            </div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="message" [ngClass]="{ 'user': true }">message</div>
      <div class="message" [ngClass]="{ 'user': false }">other message</div> -->
    </div>
    <form class="tc-assistant-form" (ngSubmit)="onInput()">
      <input
        #inputMessage
        type="text"
        [(ngModel)]="inputValue"
        name="inputField"
        placeholder="Message..."
      />
      <button type="submit">
        <img src="../../../assets/icons/send-button.svg" />
      </button>
    </form>
  </div>
</div>
