@import 'src/_colors.scss';

.tc-loader-container {
  background-color: #ffffff86;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .loader {
    width: 48px;
    height: 48px;
    display: block;
    margin:15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    background-color: $light-gray;
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
  }
  .loader::before {
    top: auto;
    bottom: 0;
    background-color: $dark-gray;
    animation-delay: 0.5s;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes scale50 {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  } 
}
