@import 'src/_colors.scss';

.tc-table-container {
  width: 100%;
  margin-top: 0.2rem;
  padding: 1rem 1rem;
}

@media only screen and (min-width: 768px) {
  .tc-table-container {
    padding: 0.5rem 5rem;
  }
}

.tc-table-main {
  padding: 1rem;
  border: 2px $light-gray solid;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.tc-table-row {
  display: grid;
  grid-template-columns: 2.5fr 2fr 8fr;
  grid-template-rows: 1fr auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  grid-template-areas:
    "priority desc desc"
    ". . buttons"
  ;
  border-bottom: $light-gray 2px solid;
  align-items: end;
  padding: 0.5rem 0;
  font-weight: 500;
}

.tc-table-row-head {
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 1fr;
  font-weight: 600;
  color: $dark-gray;
}

.tc-table-priority {
  grid-area: priority;
  color:$dark-gray;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.tc-table-description {
  grid-area: desc;
}

.tc-table-description:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: ease-in 0.3s;
}

.tc-table-description-resolved:hover {
  cursor: initial;
  text-decoration: initial;
  transition: none;
}

.tc-table-buttons {
  grid-area: buttons;
  justify-self: flex-end;
}

@media only screen and (min-width: 1250px) {
  .tc-table-row {
    grid-template-columns: 3fr 14fr 4fr;
    grid-template-rows: none;
    grid-template-areas: "priority desc buttons";
  }

  .tc-table-priority {
    grid-area: priority;
  }

  .tc-table-description {
    grid-area: desc;
  }

  .tc-table-buttons {
    grid-area: buttons;
    place-self: end;
  }
}

.tc-table-priority {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;


  .tc-table-priority-marker {
    border-radius: 100%;
    height: 9px;
    width: 9px;
  }

  .tc-table-priority-text {
    text-wrap: wrap;
    flex-shrink: 2;
  }
}
