<div class="tc-table-container">
  <div class="tc-table-main">
    <div class="tc-table-row tc-table-row-head">
      <div>Priority</div>
      <div>Task description</div>
      <div></div>
    </div>
    <div>
      <div *ngFor="let task of tasks" class="tc-table-row">
        <div class="tc-table-priority">
          <div
            class="tc-table-priority-marker"
            [tcPriorityColor]="task.priority"
          ></div>
          <p class="tc-table-priority-text">
            {{ task.priority === 'maybe never' ? 'nvm' : task.priority }}
          </p>
        </div>
        <div
          class="tc-table-description"
          (click)="openEditor(task.taskId)"
          *ngIf="task.status === 'created'; else resolved"
        >
          {{ task.description }}
        </div>
        <ng-template #resolved>
          <div class="tc-table-description tc-table-description-resolved">
            {{ task.description }}
          </div>
        </ng-template>
        <div class="tc-table-buttons">
          <tc-resolve-buttons [taskStatus]="task.status" (resolveEvent)="resolve($event, task)"></tc-resolve-buttons>
        </div>
      </div>
    </div>
  </div>
</div>
