<nav class="tc-nav-container">
  <tc-logo></tc-logo>
  <ul class="tc-nav-link-list-desk" *tcShowAuth>
    <li routerLinkActive="tc-nav-active">
      <a [routerLink]="['/tasks']">List</a>
    </li>
    <li routerLinkActive="tc-nav-active">
      <a [routerLink]="['/assistant']">Chat with AI</a>
    </li>
    <li routerLinkActive="tc-nav-active">
      <a [routerLink]="['/stats']">Statistics</a>
    </li>
  </ul>
  <div>PROF</div>
</nav>

<nav class="tc-nav-link-list" *tcShowAuth>
  <ul>
    <li routerLinkActive="tc-nav-active">
      <a [routerLink]="['/search']">
        <img class="tc-nav-icon" src="../../../../assets/Search.svg" />
        Search
      </a>
    </li>
    <li routerLinkActive="tc-nav-active">
      <a [routerLink]="['/tasks']">
        <img class="tc-nav-icon" src="../../../../assets/task-list.svg" />
        All tasks</a
      >
    </li>
    <li routerLinkActive="tc-nav-active">
      <a [routerLink]="['/assistant']">
        <img class="tc-nav-icon" src="../../../../assets/ai-chat.svg" />
        AI</a
      >
    </li>
  </ul>
</nav>
