@import 'src/_colors.scss';

.tc-card-buttons {
  grid-area: buttons;
  justify-self: end;

  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tc-card-marker {
  border: none;
  color: $dark-gray;
  font-weight: 300;
  font-size: 0.8rem;
}