$primary-dark: #000000;
$primary-light: #ffffff;

$light-gray: #e0e0e0;
$light-gray-hover: #dedede;

$medium-gray: #7c7c7c;

$dark-gray: #828282;
$dark-gray-transparent: #82828213;
$message-gray: #e9e9eb;

$background-off-light-d: #dddddd;
$background-off-light-e: #eeeeee;

$priority-sooner: #E1AEAE;
$priority-later: #FFE68E;
$priority-never: #649869;