@import '@angular/material/theming';

$primary: mat-palette($mat-grey);
$accent: mat-palette($mat-grey, A200, A100, A400);
$warn: mat-palette($mat-red);

$my-grey-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    )
  )
);

// Include the Angular Material core and theme styles
@include angular-material-theme($my-grey-theme);

// Define grey color variable for selected option text
$selected-option-text-color: mat-color($mat-grey, 700);

// Create a mixin to customize the mat-select component style
@mixin custom-select-theme($theme) {
  $primary: map-get($theme, color);
  $select: mat-get-color-config($primary, primary);

  .mat-select-value,
  .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $selected-option-text-color;
  }
}

// Apply the custom select theme styles
@include custom-select-theme($my-grey-theme);