<div class="tc-sign-in-container">
  <h1 class="tc-sign-in-title">Login</h1>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="tc-sign-in-form">
    <div class="tc-sign-in-input-wrap">
      <label class="tc-sign-in-label" for="email">Email</label>
      <input class="tc-sign-in-input" type="email" formControlName="email" id="email" />
      <div
        class="tc-sign-in-error"
        *ngIf="
        signInForm.get('email')?.invalid && signInForm.get('email')?.touched
      "
      >
        Please enter a valid email.
      </div>
    </div>
    <div class="tc-sign-in-input-wrap">
      <label class="tc-sign-in-label" for="password">Password</label>
      <input class="tc-sign-in-input" type="password" formControlName="password" id="password" />
      <div
        class="tc-sign-in-error"
        *ngIf="
        signInForm.get('password')?.invalid &&
        signInForm.get('password')?.touched
      "
      >
        Password must be at least 6 characters long.
      </div>
    </div>
    <button class="tc-sign-in-button" type="submit" [disabled]="!signInForm.valid">Login</button>
  </form>

</div>
